.container {
  max-width: 1440px;
  margin: 0 auto;
}

.user {
  margin: 50px 63px 90px 63px;
  padding: 20px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 6px 6px 33px #e0e0e0, -6px -6px 33px #ffffff;
}
.med_card {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  margin-bottom: 30px;
  box-shadow: 1px 1px 4px grey !important;
  transition: 0.5s;
}
.card:hover {
  transform: translateY(-20px);
  box-shadow: 3px 3px 4px grey !important;
}
@media screen and (max-width: 662px) {
  .med_card {
    justify-content: center;
  }
}

.ava {
  margin-bottom: 30px;
}

.items {
  margin: 50px 63px 50px 63px;
}

.usermed {
  margin: 0 63px 40px 63px;
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 35.4513px;
  line-height: 53px;
  color: #404040;
}

.calendar {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 35.4513px;
  line-height: 53px;
  color: #404040;
}
