.container {
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  margin: 40px 63px 0px 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 35.4513px;
  line-height: 53px;
  color: #404040;
  margin-top: 20px;
}

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25.4513px;
  line-height: 53px;
  color: #404040;
}

.card_content {
  display: flex;
  gap: 300px;
  justify-content: center;
  margin: 80px 63px 120px 63px;
}
