@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
/* .App {
  font-family: sans-serif;
  text-align: center;
} */

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 30px;
  transition: color 0.2s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28.4739px;
  line-height: 28px;
  color: #404040;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #4200ff;
}

.bm-cross-button {
  height: 50px;
  width: 50px;
}

.bm-cross {
  background: #1e6696;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-burger-button {
  left: auto;
  right: 36px;
}

.bm-menu {
  background: #ffffff;
  padding: 6.5em 0.5em 0 !important;
  font-size: 2.15em !important;
}
.bm-menu-wrap {
  width: 332px !important;
}

@media screen and (max-width: 450px) {
  .bm-menu-wrap {
    width: 100% !important;
  }
}

.ant-modal-content {
  height: 80vh;
}

.modal_input {
  padding: 10px;
  max-width: 250.82px;
  height: 58.2px;
  background: #f8f7f7;
  border: 1px solid #dcd7d7;
  border-radius: 14px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18.4739px;
  line-height: 28px;
  color: rgba(91, 91, 91, 0.47);
}

@media screen and (max-width: 421px) {
  .modal_input {
    max-width: 200px;
  }
}

.auth-acc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 38.6667px;
  line-height: 58px;
  color: #404040;
}

.ant-input {
  padding: 10px;
  max-width: 250.82px;
  height: 58.2px;
  background: #f8f7f7;
  border: 1px solid #dcd7d7;
  border-radius: 14px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18.4739px;
  line-height: 28px;
  color: rgba(91, 91, 91, 0.47);
}
